extends _template/_layout

block vars
  -
    thisPage = 'index'
    rootPath = ''

block head
  title #{siteName}
  meta(name="description" content="")
  meta(name="keywords" content="")
  meta(property="og:title" content=siteName)
  meta(property="og:description" content="")
  meta(property="og:type" content=ogType)
  meta(property="og:url" content="")
  meta(property="og:image" content="")

block css
  link(rel="stylesheet" href=rootPath + assetDir + "css/style.css")

block main
  h1 test
  h2 test
  h3 test

block modal

block js
  script(src=rootPath + assetDir + "js/script.js")